header{
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
nav{
  text-align: center;
}

table{
  margin: 100px 500px;
  border-radius: 10px;
}

#heade{
  color:#038899;
}

.color{
  color:orange;
  float: left;
}
