header{
  font-style: italic;
  font-size: 20px;
  text-align: center;
}
#primary{
  font-style: oblique;
  color: rgb(255, 255, 0);
}

body{
  margin: 20px;
}

article{
  border-style: dashed;
}

#hello{
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
}

.blog{
  border-width: medium;
  border-color: red;
}

p{
  margin: 10px;
}
